// wrapper
//.input
//  display: flex

// input
input:not([type="checkbox"]):not([type="radio"])
	flex: 1
  outline: none
input:not(:first-child):not([type="checkbox"]):not([type="radio"])
  border-left: 0
input:not(:last-child):not([type="checkbox"]):not([type="radio"])
  border-right: 0
input:hover:not([type="checkbox"]):not([type="radio"])
  border-color: hsl(0, 0%, 65%)
input:focus:not([type="checkbox"]):not([type="radio"])
  border: 2px solid hsl(180, 60%, 60%)

input.invalid
  border-color: hsl(360, 100%, 50%)
input.valid
  border-color: hsl(90, 100%, 50%)

// input button, input label
button[role='add-on'], label[role='add-on']
  border: 1px solid hsla(31, 15%, 50%, 0.25)
  padding: 0.5em 0.75em
button[role='add-on']:first-child, label[role='add-on']:first-child
  border-radius: 2px 0 0 2px
button[role='add-on']:last-child, label[role='add-on']:last-child
  border-radius: 0 2px 2px 0

// radio
input[type="radio"]
  border: 1px solid hsla(31, 15%, 50%, 0.25)

// checkbox
input[type="checkbox"]
  border: 1px solid hsla(31, 15%, 50%, 0.25)

// disabled
input.disabled
  user-select: none
  cursor: not-allowed