html
  font-size: 0.937rem // 16px
  line-height: 1.5rem // 24px

h1, .h1
  font-size: 2.5rem // 40px
  line-height: 3rem // 48px

h2, .h2
  font-size: 2.5rem // 40px
  line-height: 3rem // 48px

h3, .h3
  font-size: 1.625rem // 26px
  line-height: 2.25rem // 36px

h4, .h4
  font-size: 1.125rem // 18px
  line-height: 1.875rem // 30px

.largeCopy
  font-size: 1.0625rem // 17px
  line-height: 1.875rem // 24px

.mediumCopy, p, span
  font-size: 0.937rem // 15px
  line-height: 1.5rem // 24px

.smallCopy, label
  font-size: 0.8125rem // 14px
  line-height: 1.125rem // 18px