.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.offset-1,
.offset-2,
.offset-3,
.offset-4,
.offset-5,
.offset-6,
.offset-7,
.offset-8,
.offset-9,
.offset-10,
.offset-11,
.col-auto 
  box-sizing: border-box
  padding-left: 1rem
  padding-right: 1rem

.row 
  box-sizing: border-box
  display: flex
  flex-wrap: wrap
  margin-left: -1rem
  margin-right: -1rem

// responsive columns

.col-1 
  flex-basis: 8.333333333333334%

.col-2 
  flex-basis: 16.666666666666668%

.col-3 
  flex-basis: 25%

.col-4 
  flex-basis: 33.333333333333336%

.col-5 
  flex-basis: 41.66666666666667%

.col-6 
  flex-basis: 50%

.col-7 
  flex-basis: 58.333333333333336%

.col-8 
  flex-basis: 66.66666666666667%

.col-9 
  flex-basis: 75%

.col-10 
  flex-basis: 83.33333333333334%

.col-11 
  flex-basis: 91.66666666666667%

.col-12 
  flex-basis: 100%

// offsets

.offset-1 
  margin-left: 8.333333333333334%

.offset-2 
  margin-left: 16.666666666666668%

.offset-3 
  margin-left: 25%

.offset-4 
  margin-left: 33.333333333333336%

.offset-5 
  margin-left: 41.66666666666667%

.offset-6 
  margin-left: 50%

.offset-7 
  margin-left: 58.333333333333336%

.offset-8 
  margin-left: 66.66666666666667%

.offset-9 
  margin-left: 75%

.offset-10 
  margin-left: 83.33333333333334%

.offset-11 
  margin-left: 91.66666666666667%

// helper classes

.col-auto 
  flex: 1 1 0